argcomplete==2.0.0
autopep8==2.0.1
beautifulsoup4==4.11.0
blivet==3.5.0
blivet-gui==2.4.0
cairocffi==1.3.0
CairoSVG==2.5.2
catfish==4.16.4
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.1.0
cssselect==1.2.0
cssselect2==0.6.0
cupshelpers==1.0
dasbus==1.6
dbus-python==1.2.18
defusedxml==0.7.1
distro==1.7.0
file-magic==0.4.0
gpg==1.17.0
humanize==3.13.1
idna==3.3
initial-setup==0.3.95
langtable==0.0.60
libcomps==0.1.18
lxml==4.9.1
nftables==0.1
olefile==0.46
packaging==21.3
pexpect==4.8.0
pid==2.2.3
Pillow==9.2.0
ply==3.11
productmd==1.33
ptyprocess==0.6.0
pwquality==1.4.4
pycairo==1.21.0
pycodestyle==2.10.0
pycparser==2.20
pycups==2.0.1
pycurl==7.45.1
pyenchant==3.2.2
PyGObject==3.42.2
pykickstart==3.41
pyparsing==3.0.9
pyparted==3.12.0
PySocks==1.7.1
pystray==0.17.3
pyTelegramBotAPI==4.10.0
python-augeas==1.1.0
python-dateutil==2.8.2
python-gettext==4.0
python-manatools==0.0.4
python-meh==0.50
python-xlib==0.31
pyudev==0.23.2
pyxdg==0.27
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.18.0
selinux==3.4
sepolicy==3.4
setools==4.4.0
setroubleshoot==3.3.29
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sos==4.4
soupsieve==2.3.2.post1
systemd-python==235
tinycss2==1.1.1
urllib3==1.26.12
webencodings==0.5.1
xcffib==0.11.1
